body {

    text-align: center;   
    color: #108e80;
    font-weight: 100;
    background-color:#FDF6E4;
    font-family: 'Nanum Myeongjo', serif;
   
   }

div.container {
    text-align: center;
}

ul.myUL {
    display: inline-block;
    text-align: left;
}

ol.myOL {
    display: inline-block;
    text-align: left;
}

table.skills {

    display: inline-block;
    text-align: left;
}

hr {
    height:none;
    
}



.profile-picture {
    background-color: #FDF6E4;
    color: #26bba9;
    
}

.education {
    background-color: #FDF6E4;
    color:#108e80;
}
.skills {
    background-color:#FDF6E4;
}

.hobbies {
    background-color:#FDF6E4;
    color:#108e80;
}


* img {
    height:200px;
    width: 200px;
}

h1  {
    background-color: antiquewhite ;
    color: #26bba9;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 40px;
    
}

h2 {
    background-color: antiquewhite ;
    color: #26bba9;
    font-size: 30px;
}

p  { 
    font-size: 20px;
}
    

ul {
    font-size: 20px;
}


ol {
    font-size: 20px;
}

table {
    font-size: 20px;
}